:root {
  --vp-c-indigo: #213547;
  --vp-c-indigo-soft: #476582;
  --vp-c-indigo-light: #aac8e4;
  --vp-c-indigo-lighter: #c9def1;
  --vp-c-indigo-dark: #1d2f3f;
  --vp-c-indigo-darker: #14212e;

  --vp-c-brand: var(--vp-c-indigo);
  --vp-c-brand-light: var(--vp-c-indigo-light);
  --vp-c-brand-lighter: var(--vp-c-indigo-lighter);
  --vp-c-brand-dark: var(--vp-c-indigo-dark);
  --vp-c-brand-darker: var(--vp-c-indigo-darker);
}
.dark {
  --vp-c-brand: var(--vp-c-indigo-soft);
}

.image-container {
  transform: none !important;
}

.fetch-btn {
  font-weight: 700;
  border: solid 2px var(--vp-c-text-1);
  border-radius: 0.4rem;
  padding: 0.3em 1em;
}

.fetch-btn:hover {
  color: var(--vp-c-bg);
  background-color: var(--vp-c-text-1);
}

.buy-coffee-btn {
  font-weight: 700;
  border: solid 2px var(--vp-c-text-1);
  border-radius: 0.4rem;
  padding: 0.3em 1em;
}

.buy-coffee-btn:hover {
  color: var(--vp-c-bg) !important;
  background-color: var(--vp-c-text-1);
}
select {
  cursor: pointer;
  padding: 0.5rem 0.2rem;
  text-align: center;
  border-radius: 4px;
  border: solid 1px var(--vp-c-brand);
  transition: all 0.3s ease;
}

select:hover {
  border: solid 1px var(--vp-c-brand-dark);
}
